.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 20vmin;
  pointer-events: none;
}

.Top {
  background-color: #659DBD;
  padding: 100px;
  justify-content: center;
  color: white;
}

.App-raptors {
  height:35vmin;
  flex:33.33%;
}

.App-warriors {
  height:35vmin;
  flex:33.33%;
}

.App-header {
  background-color: #659DBD;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
